.label, .input{
    display: block;
}

.label{
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 8px;
    color: var(--text-gray);
}

.input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 30px;
    padding-bottom: 7px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--text);
    transition: all .3s;

    &.error{
        color: var(--red);
        text-align: left;
        border-bottom-color: var(--red);
    }
}

