.btn{
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    display: block;
    padding: 12px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    cursor: pointer;
    background: var(--blue);
}

.sublink{
    margin-top: 14px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--blue);
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
}