.message{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header{
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border-gray);

        &-users{
            display: flex;
            margin: 0 10px;
            align-items: center;
            flex-wrap: wrap;

            span{
                font-size: 12px;
                color: var(--text-gray);
            }
        }

        .avatar{
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            margin-right: 10px;
        }

        &-name{
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            color: var(--text);
        }

        &-dots{
            display: flex;
            cursor: pointer;
            flex-direction: column;
            padding: 0 20px;
            gap: 3px;
            margin-left: auto;

            span{
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background: var(--text);
            }
        }

        &-menu{
            position: absolute;
            top: calc(100% + 10px);
            right: 10px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;

            &.active{
                opacity: 1;
                visibility: visible;
            }

            background-color: var(--white);
            border: 1px solid var(--border-gray);
            padding: 10px;
            border-radius: 6px;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                height: 40px;
                color: var(--white);
                background: var(--blue);
                margin-top: 10px;
                width: 100%;
                border: none;
                outline: none;
                padding: 12px;
                font-weight: 500;
                font-size: 13px;
                line-height: 13px;

                &.red{
                    background: var(--red);
                }
            }
        }
    }

    &__body{
        flex-grow: 1;
        padding-top: 20px;
        overflow: auto;

        &-message{
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 6px;
            background: var(--border-gray);
            width: max-content;

            span{
                font-size: 12px;
                color: var(--text-gray);
                margin-bottom: 5px;
            }

            p{
                font-size: 14px;
            }
        }
    }

    &__form{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid var(--border-gray);

        &-file{
            label{
                display: block;
                cursor: pointer;
            }
            input{display: none;}
        }

        &-mess{
            display: block;
            width: 100%;
            padding: 10px 20px;
            background: var(--accent);
            border-radius: 30px;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: var(--text);
            border: none;
            outline: none;

            &::placeholder{
                color: var(--text-gray);
            }
        }

        &-btn{
            cursor: pointer;
            border: none;
            outline: none;
            display: block;
            width: 28px;
            height: 28px;
            background: transparent;

            img{
                transform: rotate(180deg);
            }
        }
    }
}

.mhm{
    &__title{
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__input{
        border-radius: 6px;
        border: 1px solid var(--border-gray);
        padding: 10px;
        font-size: 14px;
        display: block;
        width: 100%;
        outline: none;
    }
}
